<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.ClothingHolidayGoodsMapper">

    <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.ClothingHolidayGoods">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="holiday_id" jdbcType="INTEGER" property="holidayId" />
        <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.ClothingHolidayGoods" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clothing_holiday_goods (holiday_id, goods_id, sort_order, add_time, update_time)
        VALUES (#{holidayId}, #{goodsId}, #{sortOrder}, NOW(), NOW())
    </insert>

    <insert id="batchInsert">
        INSERT INTO clothing_holiday_goods (holiday_id, goods_id, sort_order, add_time, update_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.holidayId}, #{item.goodsId}, #{item.sortOrder}, NOW(), NOW())
        </foreach>
    </insert>

    <delete id="deleteByHolidayId">
        DELETE FROM clothing_holiday_goods WHERE holiday_id = #{holidayId}
    </delete>

    <select id="selectGoodsIdsByHolidayId" resultType="java.lang.Integer">
        SELECT goods_id FROM clothing_holiday_goods WHERE holiday_id = #{holidayId}
    </select>

</mapper>
