<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.ClothingSceneMapper">

    <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.ClothingScene">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="poster_url" property="posterUrl"/>
        <result column="description" property="description"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="enabled" property="enabled"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, icon, poster_url, description, sort_order, enabled, add_time, update_time, deleted
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM clothing_scene
        WHERE id = #{id} AND deleted = 0
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM clothing_scene
        WHERE deleted = 0
        ORDER BY sort_order ASC, id ASC
    </select>

    <select id="selectByEnabled" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM clothing_scene
        WHERE enabled = #{enabled} AND deleted = 0
        ORDER BY sort_order ASC, id ASC
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM clothing_scene
        WHERE name = #{name} AND deleted = 0
    </select>

    <insert id="insert" parameterType="org.linlinjava.litemall.db.domain.ClothingScene" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clothing_scene (name, icon, description, sort_order, enabled, deleted, add_time, update_time)
        VALUES (#{name}, #{icon}, #{description}, #{sortOrder}, #{enabled}, 0, NOW(), NOW())
    </insert>

    <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.ClothingScene" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clothing_scene
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="icon != null">icon,</if>
            <if test="posterUrl != null">poster_url,</if>
            <if test="description != null">description,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="enabled != null">enabled,</if>
            deleted, add_time, update_time,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="icon != null">#{icon},</if>
            <if test="posterUrl != null">#{posterUrl},</if>
            <if test="description != null">#{description},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="enabled != null">#{enabled},</if>
            0, NOW(), NOW(),
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.ClothingScene">
        UPDATE clothing_scene
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="posterUrl != null">poster_url = #{posterUrl},</if>
            <if test="description != null">description = #{description},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteByPrimaryKey">
        UPDATE clothing_scene SET deleted = 1 WHERE id = #{id}
    </update>


    <select id="selectBannerScenes" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM clothing_scene
        WHERE enabled = 1 AND poster_url IS NOT NULL AND poster_url != '' AND deleted = 0
        ORDER BY sort_order ASC, id ASC
    </select>

</mapper>
